<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technomize.peerbucket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.DeciderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.FreeTrialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.SetupAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Noanimation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.HeyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Noanimation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.CreateTeamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Noanimation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.CreateProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Noanimation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ActivityScreen"
            android:label="@string/title_activity_screen"
            android:theme="@style/Noanimation" />
        <activity
            android:name=".Activity.MeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Noanimation" />
        <activity android:name=".Activity.CompanyHQExpandActivity" />
        <activity
            android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Noanimation"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.AutomaticCheckinActivity" />
        <activity android:name=".Activity.DocsAndFilesActivity" />
        <activity android:name=".Activity.ScheduleActivity" />
        <activity android:name=".Activity.ToDoActivity" />
        <activity android:name=".Activity.MyAssignmentActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.ChangeAvatarActivity" />
        <activity android:name=".Activity.MyDevicesActivity"></activity>
    </application>

</manifest>